.seller-section {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
    -fx-padding: 10;

}

/* Define the hover state of the button */
.seller-section:hover {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
}
.seller-section:hover Text {
    -fx-text-fill: white;
}
.imgbox{
    /* asu gold */
    -fx-background-color: #FFC627;
    -fx-border-color: #8C1D40;
}
.imgbox:hover{
    /* asu maroon */
    -fx-background-color: #ac3356;
    -fx-border-color:  #FFC627;

}
.imgbox:hover Text{
    -fx-text-fill: white;
}
